* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-image: url("Saturn.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {

   padding: 100px;
    display: flex;
    flex-direction: column;
   align-items: left;
    
}

.sun-image img {
    width: 1800px;
    height: 200px;
}

.content {color: white;
    text-align: left;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  align-items: left;
  justify-content: left;


}

h1 {color: white;
    width: 147px;
    height: 80px;
    gap: 30px;
    opacity: 0px;
   
font-family: "Orbitron",sans-serif;
font-size: 67px;
font-weight: 900;
line-height: 80px;
letter-spacing: -0.02em;
text-align: left;

}

p {color: white;
    width: 826px;
height: 72px;
gap: 20px;
opacity: 0px;

font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 24px;
text-align: left;

}

.info {color: white;
    display: flex;
    
    justify-content: left;
    gap: 20px;
    width: Hug (800px)px;
height: Hug (176px)px;
gap: 40px;
opacity: 0px;

}

.a{width: 100px;
    height: 100px;
    gap: 0px;
    opacity: 0px;
    

}
.b{
    width: 32.92px;
    height: 80px;
    gap: 0px;
    opacity: 0px;
    
}
.info-item {color: white;
    width: Fixed (400px)px;
height: Hug (150px)px;
padding: 24px 40px 24px 40px;
gap: 24px;
border-radius: 16px 0px 0px 0px;
border: 4px 0px 0px 0px;
opacity: 0px;
background: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #430E49 0.53%, #370D44 32.06%, #170B36 89.03%, #100A33 100%);
border: 4px solid;
font-family: "Orbitron",sans-serif;
border-image-source: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #170B36 0%, #100A33 11.98%, #370D44 46.35%, #430E49 89.06%);


}

.info-item h7 {
    width: 81px;
    height: 24px;
    gap: 0px;
    opacity: 0px;

    font-family: "Orbitron",sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    text-align: left;
        
}

.info-item h4 {
    width: 200px;
height: 96px;
gap: 0px;
opacity: 0px;
font-family: "Orbitron",sans-serif;
font-size: 38px;
font-weight: 900;
line-height: 48px;
letter-spacing: -0.02em;
text-align: left;

}



